@import url("../lib/fonts/Raleway-Regular.ttf");
@import url("../lib/fonts/RobotoMono-Regular.ttf");

*    { font-family:      'Raleway', sans-serif; }
body { background-color: #1E1E1E; }
h2   { display:          inline; }
img  { margin-left:      -3.5em; }

.l_wrap { 
    display:             flex;
    margin-left:         -1.5em;
}

.l_ico { 
    color:               #42D1F4;
    font-family:         'Roboto Mono', monospace;
    min-width:           1em;
    text-align:          center;
}

.l_txt { 
    color:               #FFF;
    padding-left:        1em; 
}

.c_align {
    position:            absolute;
    margin:              auto;
    top:                 -25%;
    right:               0;
    bottom:              0;
    left:                0;
    width:               100px;
    height:              100px;
    border-radius:       3px;
}