<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Commander IDE</title>
        <link rel="stylesheet" href="loader.css">
	</head>
	<body>
        <div class="c_align">
            <div class="l_wrap">
                <h2 class="l_ico"></h2>
                <h2 class="l_txt">
                    Loading
                </h2>
            </div>
        </div>
        <script src="../lib/jquery.min.js"></script>
        <script>
            require('../src/loader.js')
        </script>
	</body>
</html>
