<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Commander IDE</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="../lib/fa/fa.min.css">
	</head>
	<body>
        <div class="nav-bar">
        <!-- &#x2318; noChoice -->
            <ul class="left">
                <li>
                    File
                    <div class="submenu">
                        <ul>
                            <li id="f__new" class="shortcut" shortcut="CTRL + N">
                                New
                            </li>
                            <li id="f__open" class="shortcut" shortcut="CTRL + O">
                                Open
                            </li>
                            <li id="f__recent" class="hasSubMenu">
                                Recently opened
                                <div class="submenu">
                                    <ul>
                                        <li class="shortcut" shortcut="">
                                            ...
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="f__save" class="shortcut" shortcut="CTRL + S">
                                Save
                            </li>
                            <li id="f__save_as" class="shortcut" shortcut="">
                                Save as ...
                            </li>
                            <li id="f__save_and_quit" class="shortcut" shortcut="">
                                Save and quit
                            </li>
                            <li class="spacer"></li>
                            <li id="f__quit" class="shortcut" shortcut="">
                                Quit
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    Edit
                    <div class="submenu">
                        <ul>
                            <li id="e__undo" class="shortcut" shortcut="CTRL + Z">
                                Undo
                            </li>
                            <li id="e__redo" class="shortcut" shortcut="CTRL + Y">
                                Redo
                            </li>
                            <li class="spacer"></li>
                            <li id="e__cut" class="shortcut" shortcut="CTRL + X">
                                Cut
                            </li>
                            <li class="spacer"></li>
                            <li id="e__copy" class="shortcut" shortcut="CTRL + C">
                                Copy
                            </li>
                            <li id="e__copy_all" class="shortcut" shortcut="">
                                Copy All
                            </li>
                            <li class="spacer"></li>
                            <li id="e__paste" class="shortcut" shortcut="CTRL + V">
                                Paste
                            </li>
                            <li id="e__paste_and_replace" class="shortcut" shortcut="">
                                Paste and Replace
                            </li>
                            <li class="spacer"></li>
                            <li id="e__select_all" class="shortcut" shortcut="CTRL + A">
                                Select All
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    View
                    <div class="submenu">
                        <ul>
                            <li id="v__max" class="shortcut" shortcut="">
                                Maximize
                            </li>
                            <li id="v__min" class="shortcut" shortcut="">
                                Minimize
                            </li>
                            <li id="v__normal" class="shortcut" shortcut="">
                                Reset Window State (Normal)
                            </li>
                            <li class="spacer"></li>
                            <li id="v__reload" class="shortcut" shortcut="F5">
                                Reload Window
                            </li>
                            <li id="v__dev" class="shortcut" shortcut="">
                                Toggle Developer Tools
                            </li>
                            <li class="spacer"></li>
                            <li id="v__zoom" class="shortcut" shortcut="">
                                <p class="zoom_val">
                                    Zoom: 100%
                                </p>
                                <input class="zoomer" type="range" />
                            </li>
                            <li id="v__reset_zoom" class="shortcut" shortcut="">
                                Reset Zoom
                            </li>
                            <li class="spacer"></li>
                            <li id="v__fullscreen" class="shortcut" shortcut="">
                                Toggle fullscreen
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    Help
                    <div class="submenu">
                        <ul>
                            <li id="h__about" class="shortcut" shortcut="">
                                About
                            </li>
                            <li id="h__bug" class="shortcut" shortcut="">
                                Report Bug
                            </li>
                            <li id="h__contact" class="shortcut" shortcut="">
                                Contact
                            </li>
                            <li id="h__code" class="shortcut" shortcut="">
                                Source Code
                            </li>
                            <li id="h__eptic" class="shortcut" shortcut="">
                                EpticMC
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <script>
            require('../src/main.js');
            require('../src/api/navBarHandle.js');
            const commanderIDE = require('../src/commanderIDE.js').default;
            document.querySelector('body').appendChild(new commanderIDE());
        </script>
	</body>
</html>
