<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Commander IDE</title>
        <link rel="stylesheet" href="main.css">
	</head>
	<body>
        <div id="nav-bar">

            <table>
                <tr>
                    <th class="functions">
                        <button id="open">
                            Open
                        </button>
                        <button id="save">
                            Save
                        </button>
                    </th>
                </tr>
            </table>


        </div>
		<div id="container"></div>
        <script>
            require('../src/main.js');
            require('../src/api/navBarHandle.js');
        </script>
	</body>
</html>
